bplascope.duckdns.org {
    reverse_proxy /api/* backend:8000
    reverse_proxy /mini/* mini_app:5173
    reverse_proxy frontend:3000
}

:80 {
    reverse_proxy /api/* backend:8000
    reverse_proxy /mini/* mini_app:5173
    reverse_proxy frontend:3000
}
